@import (reference) "../../style/common.less";

.tab-content {
    width: 100%;
}

.content-header {
    position: relative;
    width: 100%;
}

.stat-button {
    cursor: pointer;
}

.equipment-container {
    width: 100%;
    min-height: 25%;
    background-color: #2E7285;

    .equipment-container-row {
        margin: 0.5rem;
    }
}

.att-row {
    padding: 1rem 1rem 1rem 3rem;
  
    &:first-child {
      padding-top: 2.5rem;
    }
  
    &:nth-child(even) {
      background-color: #284d6e;
    }
  
    &:nth-child(odd) {
      background-color: #163856;
    }
  }
