/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

.april_nft1, .april_nft2, .april_nft3, .april_ticket, .battle_nft1, .battle_nft2, .battle_nft3 
{display:inline-block; overflow:hidden; background-repeat: no-repeat;
background-image:url('../assets/sprites/icons2.png');}

.april_nft1 {width: 64px; height: 64px; background-position: 79.4355% 1.04167%; background-size: 3200.00%; }
.april_nft2 {width: 64px; height: 64px; background-position: 83.1653% 1.04167%; background-size: 3200.00%; }
.april_nft3 {width: 64px; height: 64px; background-position: 86.8952% 1.04167%; background-size: 3200.00%; }
.april_ticket {width: 64px; height: 64px; background-position: 90.6250% 1.04167%; background-size: 3200.00%; }
.battle_nft1 {width: 512px; height: 512px; background-position: 0.651042% 1.95313%; background-size: 400.000%; }
.battle_nft2 {width: 512px; height: 512px; background-position: 34.6354% 1.95313%; background-size: 400.000%; }
.battle_nft3 {width: 512px; height: 512px; background-position: 68.6198% 1.95313%; background-size: 400.000%; }
