@backgroundMainColor: #230e21;
@backgroundOutsideColor: #0c080c;
@lootCellSize: 5rem;
@mobileLootCellSize: 7.5rem;

.mobile(@rules) {
    @media only screen and (max-width: 480px) {
        @rules();
    }
}

.laptop(@rules) {
    @media only screen and (max-width: 1280px) and (min-width: 1025px) {
        @rules();
    }
}

.laptop_small(@rules) {
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
        @rules();
    }
}

.tablet(@rules) {
    @media only screen and (max-width: 767px) and (min-width: 481px) {
        @rules();
    }
}

.big_retina(@rules) {
    @media only screen and (min-resolution: 3dppx) {
        @rules();
    }
}

.pixelated {
    image-rendering: pixelated;
}

.pixelated() {
    image-rendering: pixelated;
}

@font-face {
    font-family: 'Saira Semi Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
}

@font-face {
    font-family: 'Carrosserie';
    src: url("../assets/fonts/Carrosserie\ Bold.otf");
}

.digit-font {
    font-family: 'Carrosserie';
}

.font-weight-700 {
    font-weight: 700;
}

.dummy-height {
    min-height: 0;
}

.status-bar-font {
    font-size: 1.55rem;
}

@fontSizeFactor: 1.4;

.font-size-5 {
    font-size: 0.3125rem * @fontSizeFactor;
}

.font-size-10 {
    font-size: 0.625rem * @fontSizeFactor;
}

.font-size-12 {
    font-size: .75rem * @fontSizeFactor;
}

.font-size-15 {
    font-size: .9375rem * @fontSizeFactor;
}

.font-size-18 {
    font-size: 1.125rem * @fontSizeFactor;
}

.font-size-20 {
    font-size: 1.25rem * @fontSizeFactor;
}

.font-size-25 {
    font-size: 1.5625rem * @fontSizeFactor;
}

.font-size-30 {
    font-size: 1.875rem * @fontSizeFactor;
}

h1 {
    font-size: 4rem * @fontSizeFactor;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.center {
    margin: 0 auto;
}

.restrict-selection {
    user-select: none;
}

.full-flex {
    flex: 1;
}

.flex-full {
    flex: 1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-item-center {
    align-items: center;
}

.flex-items-center {
    align-items: center;
}

.flex-item-end {
    align-items: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-basis-25 {
    flex-basis: 25%;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-small {
    margin-top: 0.5rem;
}

.margin-top-medium {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-4 {
    margin-top: 4rem;
}


.margin-top-5 {
    margin-top: 5rem;
}


.margin-top-6 {
    margin-top: 6rem;
}

.margin-bottom-small {
    margin-bottom: 0.5rem;
}

.margin-bottom-medium {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-3 {
    margin-bottom: 3rem;
}

.margin-bottom-4 {
    margin-bottom: 4rem;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.margin-bottom-6 {
    margin-bottom: 6rem;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.font-outline {
    text-shadow: 2px 1px 5px #210028;
}

.center-transform {
    left: 50%;
    transform+_: translateX(-50%);
}

.center-transform-vertical {
    position: relative;
    top: 50%;
    transform+_: translateY(-50%);
}

.pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}

/* ICONS */
@iconSize: 2.5rem;

.icon(@filename) {
    background: url("../assets/ui/@{filename}.png") no-repeat;
    background-size: contain;
    width: @iconSize;
    height: @iconSize;
    margin-right: 0.3rem;
}

.icon-exp {
    .icon("icon_xp");
}

.icon-energy {
    .icon("icon_nrg_blue");
}

.icon-stamina {
    .icon("icon_nrg_yellow");
}

.icon-gold {
    .icon("icon_coin");
}

.icon-health {
    .icon("icon_hp");
}

.icon-premium {
    .icon("icon_coin_premium");
}

.icon-timer {
    .icon("icon_timer");
}

.icon-dkt {
    .icon("icon_dkt");
}

.icon-size-mini {
    width: @iconSize * 0.75;
    height: @iconSize * 0.75;
}

.vb {
    height: 100%;
}

.enemy-title-font {
    color: #d8fc9a;
}

.white-font {
    color: white !important;
}

@panelBorderWidth: 0.2rem;

.panel {
    border-image: url("../assets/ui/border.png") round;
    border-image-slice: 45 fill;
    border-image-width: 1.63125rem;
    border-style: solid;
    background-color: #343e52;
}

.panel-light {
    border-image: url("../assets/ui/popup_bg.png") round;
    border-image-slice: 11 fill;
    border-image-width: 0.6rem;
    border-style: solid;
    background-color: #585975;
}

.panel-dark {
    border-image: url("../assets/ui/difficulty_bg.png") round;
    border-image-slice: 60 fill;
    border-image-width: 0.6rem;
    border-style: solid;
    background-color: #2e2740;
}

.yellow-title {
    color: #fde648;
}

.blue-title {
    color: #00d7cb
}

.green-title {
    color: #b3fdbe;
}

.grey-title {
    color: #aeb0b6;
}

.red-title {
    color: #6a1e2b;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.zone-picture {
    // width: 100%;
    height: 100%;
    position: relative;

    div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.overlay-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.title {
    border-image: url("../assets/ui/title.png") round;
    border-image-slice: 25 30 fill;
    border-image-width: 2rem;
    border-width: 1px;
    border-style: solid;
    padding: 0 1rem 0 1rem;
}

.close-btn {
    background-image: url("../assets/ui/button_close.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.6875rem;
    height: 2.6875rem;
}

@commonRarityColor: #bdbebf;
@rareRarityColor: #70ee70;
@epicRarityColor: #c965ee;
@legendaryRarityColor: #fdc64f;
@mythicalRarityColor: #ff0d74;

.rarity-common {
    color: @commonRarityColor;
}

.rarity-rare {
    color: @rareRarityColor;
}

.rarity-epic {
    color: @epicRarityColor;
}

.rarity-legendary {
    color: @legendaryRarityColor;
}

.rarity-mythical {
    color: @mythicalRarityColor;
}

.agile__list {
    height: 100%;
}

.agile__track {
    height: 100%;
}

.agile__slides {
    height: 100%;
}

.agile__slide {
    height: 100%;
}

.nav-arrow {
    background-image: url("../assets/ui/button_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.9rem;
    height: 2.2rem;

    &.left {
        transform: rotateZ(180deg);
    }
}