.trial-title {
    font-size: 4rem;
    line-height: 4rem;  
    background: linear-gradient(
      90deg,
      rgba(38, 16, 52, 0) 0%,
      rgba(38, 16, 52, 0.5550595238095238) 42%,
      rgba(38, 16, 52, 0.5858718487394958) 100%
    );

    min-width: 100%;
  }